<div class="modal-header">
    <h4 class="modal-title" [innerHTML]="title"></h4>
    <button type="button" [attr.data-test-id]="'dialog-close-header-button'" class="close" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div [innerHTML]="message"></div>
</div>
<div class="modal-footer">
    <button [attr.data-test-id]="'dialog-close-button'" type="button" class="btn btn-default" (click)="onClose()"> {{__('Button_Close')}}</button>
    <ng-container *ngFor="let customButton of customButtons">
        <button type="button" class="{{customButton.className}}" placement="top" [attr.data-test-class]="'custom-btn'"
            [ngbTooltip]="customButton.tooltip ? customButton.tooltip : ''"
            (click)="customButton.action(activeModal, customButton)">
            <i class="fas fa-spinner fa-spin" *ngIf="customButton.processing"></i> {{customButton.label}}
        </button>
    </ng-container>
    <button [attr.data-test-id]="'dialog-confirm-button'" type="button" class="btn btn-primary" placement="top-right" boundary="window"
        (click)="onConfirm()"
        [ngbTooltip]="confirmButton && confirmButton.tooltip ? confirmButton.tooltip : ''">
        <i class="fas fa-spinner fa-spin" *ngIf="savingIndicator"></i> {{confirmButton && confirmButton.label ? confirmButton.label : __('Button_Confirm')}}
    </button>
</div>
